[submodule "shims"]
	path = shims
	url = https://github.com/lsh/shims

[submodule "mojo-object-conversion"]
	path = mojo-object-conversion
	url = https://github.com/rd4com/mojo-object-conversion.git
    	branch = main

